<div class="simple-calendar haby-cal">
  <div class="haby-cal__header">
    <div class="haby-cal__legend" aria-label="実施状況の凡例">
      <span class="haby-cal__legend-item haby-cal__legend-item--all">全部</span>
      <span class="haby-cal__legend-item haby-cal__legend-item--partial">一部</span>
      <span class="haby-cal__legend-item haby-cal__legend-item--none">なし</span>
    </div>
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="haby-cal__title">
      <%= start_date.strftime("%Y年%-m月") %>
    </time>

    <nav class="haby-cal__nav">
      <%= link_to "←", calendar.url_for_previous_view, class: "haby-cal__nav-btn" %>
      <%= link_to "今日", calendar.url_for_today_view, class: "haby-cal__nav-btn haby-cal__nav-btn--ghost" %>
      <%= link_to "→", calendar.url_for_next_view, class: "haby-cal__nav-btn" %>
    </nav>
  </div>

  <table class="haby-cal__table">
    <thead>
      <tr class="haby-cal__weekdays">
        <% # 月曜始まりにしたい場合はここを固定表示にするのが確実 %>
        <% %w[月 火 水 木 金 土 日].each do |w| %>
          <th class="haby-cal__weekday"><%= w %></th>
        <% end %>
      </tr>
    </thead>

    <tbody class="haby-cal__body">
      <% date_range.each_slice(7) do |week| %>
        <tr class="haby-cal__row">
          <% week.each do |day| %>
            <% td_class = calendar.td_classes_for(day) %>
            <% result_class = @day_class&.[](day.to_date) %>
            <% classes = ["haby-cal__cell", td_class, result_class].compact %>

            <%= content_tag :td, class: classes.join(" ") do %>
              <div class="haby-cal__cell-inner">
                <div class="haby-cal__date">
                  <%= day.day %>
                </div>
              <% if @day_class&.[](day.to_date) == "cal-day--all" %>
                <div class="haby-cal__complete">
                  complete!
                </div>
              <% end %>
                <div class="haby-cal__content">
                  <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
                </div>
              </div>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
