<h1>習慣を追加</h1>

<%= form_with model: @habit do |f| %>
  <div>
    <%= f.label :name, "習慣名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :detail, "詳細" %><br>
    <%= f.text_area :detail %>
  </div>

  <div>
    <%= f.submit "追加する" %>
  </div>
<% end %>

<p><%= link_to "一覧に戻る", habits_path %></p>
