<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "haby" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon_180.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div class="app">
    <%= render "shared/header" %>

    <main class="app-main">
      <div class="app-container">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </main>

    <%= render "shared/footer" %>
  </div>

  <%= render "shared/bottom_nav" %>
</body>
</html>